
/*********************************************************************************************
						  공통 Style css
*****************************/

#wrap {
  background-color: var(--color-back);
  height: 100vh;
}

header {
  width: 100%; height: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, .45);
}
.head-wrap {
  position: relative;
  width: 1600px;
  margin: 0 auto;
}
.head-wrap h1 {
  position: absolute; top: 0; left: 0;
  display: flex; align-items: center;
  height: 65px;
}
/*
.head-wrap nav {
  display: flex; 
  align-items: center; flex-direction: row;
  height: 65px;
  position: absolute; top: 0; left: 13%;
}
.head-wrap nav a {
  position: relative;
  line-height: 65px;
  font-family: var(--font-family-noto);
  font-size: var(--font-size-18); font-weight: 500; color: var(--color-white);
  padding: 0 50px;
}
.head-wrap nav a:before {
  content: "";
  position: absolute; top: 0; left: 0;
  width: 1px; height: 100%;
  background-color: rgba(255, 255, 255, .15);
}
.head-wrap nav a:first-child:before {
  content: "";
  position: absolute; top: 0; left: 0;
  width: 1px; height: 100%;
  background-color: rgba(0, 0, 0, .45);
}
.head-wrap nav a:after {
  content: "";
  position: absolute; top: 0; right: 0;
  width: 1px; height: 100%;
  background-color: rgba(0, 0, 0, .45);
}
.head-wrap nav a:hover {
  background-color: rgba(0, 0, 0, .35);  
}
.head-wrap nav a:active,
.head-wrap nav a.active {
  background-color: #00A0DF;
}
/************************** gnb style */
.head-wrap nav {
  display: flex; 
  align-items: center; flex-direction: row;
  height: 65px;
  position: absolute; top: 0; left: 13%; z-index: 10;
}
.head-wrap nav > ul {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center;
}
.head-wrap nav > ul li {
  position: relative;
  height: 65px;
}
.head-wrap nav > ul li a {
  display: block;
  font-family: var(--font-family-noto);
  font-size: var(--font-size-18); font-weight: 500;
  line-height: 65px; color: var(--color-white);
  padding: 0 50px;
}
.head-wrap nav > ul li a:hover {
  background-color: rgba(0, 0, 0, .35);  
}
.head-wrap nav > ul li.active,
.head-wrap nav > ul li.active a:hover {
  background-color: rgba(0, 160, 223, 1);
}
.head-wrap nav > ul li:before {
  content: "";
  position: absolute; top: 0; left: 0;
  width: 1px; height: 65px;
  background-color: rgba(255, 255, 255, .15);
}
.head-wrap nav > ul li:after {
  content: "";
  position: absolute; top: 0; right: 0;
  width: 1px; height: 65px;
  background-color: rgba(0, 0, 0, .45);
}
.head-wrap nav > ul li > ul#submenu {
  position: absolute; left: 0; top: 35px; z-index: -1;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  transition: all .3s;
}
.head-wrap nav > ul li:hover > ul#submenu {
  opacity: 1;
  visibility: visible;
  transition: all .3s;
  top: 65px;
}
.head-wrap nav > ul li > ul#submenu li {
  background-color: var(--color-black);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  height: 35px;
}
.head-wrap nav > ul li > ul#submenu li:last-child {
  border-color: rgba(0, 0, 0, .35);
}
.head-wrap nav > ul li > ul#submenu li:after,
.head-wrap nav > ul li > ul#submenu li:before {
  width: 0; height: 0;
  display: none;
}
.head-wrap nav > ul li > ul#submenu li a {
  display: block;
  font-size: var(--font-size-13); font-weight: 500;
  line-height: 35px;
  padding: 0 0; text-align: center;
}
.head-wrap nav > ul li > ul#submenu li:hover,
.head-wrap nav > ul li > ul#submenu li:hover a {
  background-color: var(--color-navy);
  border-color: rgba(0, 0, 0, .55);
}
.head-wrap .box-btn-head {
  position: absolute; top: 0; right: 0;
  display: flex; align-items: center;
  height: 65px; color: var(--color-white);
}
.head-wrap .box-btn-head > a:first-child {
  margin-right: 5px;
}



/************************************* footer style */
footer {
  background-color: #1C2B40;
  width: 100%; height: 100px;
  margin-top: 30px;
}
footer .foot-wrap {
  position: relative;
  display: flex;
  flex-direction: row; align-content: center; justify-content: space-between;
  width: 1600px;
  margin: 0 auto; padding-top: 30px;
  font-size: var(--font-size-12);
}
footer .foot-wrap .menuWrap {
  display: flex;
  flex-direction: column;
}
.menuWrap > a {
  padding-bottom: 7px;
  font-family: var(--font-family-noto); font-size: var(--font-size-13);
  color: var(--color-white); font-weight: 500;
}
.menuWrap > a:hover {
  color: var(--color-cyan);
}
footer .foot-wrap > ul {
  display: flex;
  flex-direction: column;
}
footer .foot-wrap > ul > li {
  font-size: 0;
  padding-bottom: 7px;
}
footer .foot-wrap > ul > li span {
  position: relative;
  font-family: var(--font-family-noto); font-size: var(--font-size-12); font-weight: 300;
  color: var(--color-lightSilver); letter-spacing: .0225rem;
  padding:  0 15px;
}
footer .foot-wrap > ul > li span:after {
  content: "";
  position: absolute; top: 4px; right: 0;
  width: 1px; height: 10px;
  background-color: var(--color-lightSilver);
}
footer .foot-wrap > ul > li span:first-child {
  padding-left: 0px;
}
footer .foot-wrap > ul > li span:last-child:after {
  display: none;
}
footer .foot-wrap h1 {
  display: flex;
}

/************************************* button area style */
.center-button-area {
  text-align: center;
  display: flex;
  justify-content: center; flex-direction: row; align-items: center;
  margin-top: 20px;
}

/************************************* etc area style */
.type-dash {
  text-indent: -10px;
  padding-left: 10px;
}


/*********************************************************************************************
						  Table Style css
*****************************/
/************************************* gray style */
.table-search {
  width:100%;
  border-collapse:collapse;
  border-spacing:0px;
  border-top: 1px solid #1E2C42;
}
.table-search tbody th,
.table-search tbody td {
  padding: 0px;
  height: 28px; line-height: 28px;
  letter-spacing: -.0313rem; font-size: var(--font-size-12); text-align: left;
  border-bottom: 1px solid #1E2C42;
  background-color: #3C4C65;
  vertical-align: middle;
}
.table-search tbody th {
  padding-left: 15px;
  background-color: #1C2B40;
  font-weight: bold;
}
.table-search tbody th em.bulStyle1 {
  color: var(--color-coral);
  display: inline-block;
  font-size: 14px; margin: 0 3px;
  position: relative;
  top: 2px;
}
.table-search tbody td.inpt {
  vertical-align: top;
  font-size: 0; padding: 0; margin: 0;
}
/*
.table-search tbody td.inpt > .select-box:before,
.table-search tbody td.inpt > .select-box:after {
  width: 0px; height: 0px;
  background-color: transparent;
}
*/
table tr td input {
  vertical-align: top;
}
table tr td .add-file {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 0; padding: 0; margin: 0;
  height: 28px;
}
table tr td .add-file input[type="file"] {
  position: absolute; top: 0; left: 0;
  width: 10px; height: 10px;
  opacity: 0;
  cursor: pointer;
}
table tr td .add-file .add-file-txt {
  width: calc(100% - 70px);
  height: 28px; line-height: 26px;
  box-sizing: border-box;
  padding-left: 10px;
  font-family: var(--font-family-noto); font-size: var(--font-size-12); font-weight: 300;
  color: var(--color-white); letter-spacing: 0;
}
table tr td .add-file .add-file-btn {
  width: 70px; height: 28px; line-height: 28px; 
  background-color: var(--color-blue);
  box-sizing: border-box; text-align: center;
  font-family: var(--font-family-noto); font-size: var(--font-size-12);
  color: var(--color-white);
  cursor: pointer;
}
table tr td .date_picker {
  position: relative;
  display: inline-block;
  width: 45%; height: 28px;
  vertical-align: top;
  cursor: pointer;
}
table tr td .date_picker img {
  position: absolute; top: 6px; right: 10px;
}
table tr td .date_picker input {
  vertical-align: top;
}
table tr td span.picker-interval {
  display: inline-block;
  width: 10%; line-height: 28px; vertical-align: top;
  text-align: center;
  font-size: var(--font-size-12); font-family: var(--font-family-noto);
}
.table-search tr th a.btn-travel-type,
.table-search tr th a.btn-travel-area {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 0 2px;
  font-size: 0;
}
.icon-question {
  display: inline-block;
  width: 15px; height: 15px;
  background-color: var(--color-white); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-question.svg?e') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-question.svg?e') no-repeat center;
  vertical-align: top;
}
.icon-globe {
  display: inline-block;
  width: 15px; height: 15px;
  background-color: var(--color-white); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-globe.svg?en') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-globe.svg?en') no-repeat center;
  vertical-align: top;
}
a:hover .icon-question, a:hover .icon-globe {
  background-color: var(--color-cyan);
}
.icon-printer {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 15px; height: 15px;
  background-color: var(--color-white); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-printer.svg?en') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-printer.svg?en') no-repeat center;
}


/************************************* Navy style */
.table-list {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.table-list thead tr th, .table-list tbody tr th,
.table-list tbody tr td {
  position: relative;
  padding: 0px;
  letter-spacing: -.0313rem; font-size: var(--font-size-12); text-align: center; color: var(--color-white);
  border: 1px solid var(--color-black); background-color: #273954;
  vertical-align: middle;
}
.table-list thead {
  position: sticky; top: 0px; z-index: 2;
}
.table-list thead tr th {
  padding: 12px 0px; height: 0;
  background-color: #1C2B40; border-top: 0px;
  font-weight: bold;
}
.table-list tbody tr td {
  padding: 0px; height: 25px; line-height: 25px;
}
.table-list thead tr th.navy {
  background-color: var(--color-navy);
}
.table-list tbody tr td.right {
  text-align: right;
}
.table-list tbody tr td.left {
  text-align: left;
}
.table-list tbody tr td.right input {
  text-align: right;
  padding: 0 10px 0 0;
}
.table-list tbody tr td.navy {
  background-color: #3C4C65;
}
.table-list tbody tr td a.change {
  display: inline-block;
  position: absolute; top: 0; right: 0;
}
.table-list tbody tr td.flan {
  text-align: left;
}
.table-list tbody tr td.flan input {
  width: calc(100% - 70px);
  text-align: left;
}
.table-list tbody tr td a {
  display: block;
}
.table-list tbody tr td a:hover {
  color: var(--color-aqua);
}
.table-list tbody tr td a.inactive {
  background-color: #3C4C65;
  color: rgba(255, 255, 255, .55);
}

/************************************* White style */
.table-white {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.table-white thead tr th, .table-white tbody tr th,
.table-white tbody tr td {
  position: relative;
  padding: 7px 0px;
  letter-spacing: -.0313rem; font-size: var(--font-size-12); text-align: center; color: var(--color-black);
  border: 1px solid var(--color-ligthGray); background-color: var(--color-white);
  vertical-align: middle;
}
.table-white thead {
  position: sticky; top: 0px; z-index: 13;
  border-bottom: 1px solid var(--color-ligthGray);
}
.table-white thead tr th {
  background-color: #e5e5e5;
  font-weight: 700;
  border-top: 0;
}
.table-white tbody tr th {
  font-weight: 700;
  background-color: var(--color-lightSilver);
}
.table-white tbody tr th p, .table-white tbody tr td p {
  font-size: var(--font-size-12); text-align: center; color: var(--color-black);
  line-height: 1.2;
}

/************************************* paginate style */
.paginate {
  overflow: hidden;
  display: flex;
  flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: center; align-items: center;
  width: 100%;
  font-weight: 500; font-size: 0; text-align: center;
  margin: 35px 0 25px;
}
.paginate a {
  position: relative;
  vertical-align: middle;
  display: inline-block; zoom: 1;
  width: 27px; height: 26px;
  border: 1px solid rgba(255, 255, 255, .35); background-color: transparent;
  font-size: 14px; line-height: 26px; color: rgba(255, 255, 255, .75);
  margin: 0 3px; padding: 0px;
}
.paginate a.active {
  color: var(--color-aqua);
  background: transparent;
  border: 1px solid var(--color-aqua);
}
.paginate a.first, .paginate a.last {
  width: 27px; height: 26px;
}
.paginate a.prev {
  width: 27px; height: 26px;
  margin-right: 10px;
}
.paginate a.next {
  width: 27px; height: 26px;
  margin-left: 10px;
}
.paginate a i {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.paginate a.first i.prev-arrow-double {
  display: block;
  width: 13px; height: 13px;
  background-color: rgba(255, 255, 255, .75); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-prev-arrow-double.svg?en') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-prev-arrow-double.svg?en') no-repeat center;
}
.paginate a.last i.next-arrow-double {
  display: block;
  width: 13px; height: 13px;
  background-color: rgba(255, 255, 255, .75); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-next-arrow-double.svg?en') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-next-arrow-double.svg?en') no-repeat center;
}
.paginate a.prev i.prev-arrow {
  display: block;
  width: 13px; height: 13px;
  background-color: rgba(255, 255, 255, .75); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-prev-arrow.svg?en') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-prev-arrow.svg?en') no-repeat center;
}
.paginate a.next i.next-arrow {
  display: block;
  width: 13px; height: 13px;
  background-color: rgba(255, 255, 255, .75); background-size: 100%;
  -webkit-mask: url('/samsun.b2b/img/service/icon-next-arrow.svg?eni') no-repeat center;
          mask: url('/samsun.b2b/img/service/icon-next-arrow.svg?eni') no-repeat center;
}


/*********************************************************************************************
						  UI Datepicker Style css
*****************************/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: solid rgba(255, 255, 255, .55)!important;
  border-width: 1px 0 0 1px!important;
}
.ui-datepicker td {
  border: 1px solid #CCC !important;
  padding: 0 !important
}
.ui-datepicker-calendar thead tr th {
  border: 1px solid #CCC !important;
  background: linear-gradient(20deg, #e2e2e2, #eeeeee) !important;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  font-size: var(--font-size-12); color: var(--color-black);
  text-transform: uppercase !important;
  border: solid rgba(255, 255, 255, .55) !important;
  border-width: 1px 0 0 1px !important;
  width: 100%; height: 22px; line-height: 22px;
}
.ui-widget-header {
  background: #2d2d2d !important;
  border: 0 !important
}
.ui-datepicker .ui-datepicker-title select {
  background: #2d2d2d !important;
  color: var(--color-white) !important;
  font-size: 15px !important;
}
.ui-widget-header .ui-icon {
  background-image: none !important;
}
.ui-datepicker .ui-datepicker-title {
  margin-top: 4px !important;
}
#ui-datepicker-div {
  padding: 0;
  width: 275px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: linear-gradient(20deg, #e2e2e2, #eeeeee) !important;
}
.ui-state-default {
  font-size: var(--font-size-12);
  font-weight: bold !important;
}
.ui-datepicker td span, .ui-datepicker td a {
  padding: 12px 0 !important;
  text-align: center !important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 33% !important;
  padding-left: 22px !important;
}
.ui-datepicker th {
  padding: 0 0 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus {
  background: #1EB7AD !important;
  box-shadow: inset 0px 0px 10px #32DACF, inset 0px 0px 20px #35e5f5 !important;
  color: var(--color-white) !important;
}
.ui-datepicker .ui-datepicker-next span {
  margin-left: -3px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 1px;
}
.ui-datepicker .ui-datepicker-next {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 1px;
}
.ui-datepicker .ui-datepicker-prev span {
  margin-left: -14px;
}
.ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover {
  background: rgba(255, 255, 255, .10) !important;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .75), inset 0px 0px 5px rgba(255, 255, 255, .25) !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next,
.ui-datepicker-prev.ui-state-hover.ui-datepicker-prev-hover,
.ui-datepicker-next.ui-state-hover.ui-datepicker-next-hover {
  width: 37px; height: 37px;
}
.ui-datepicker table {
  margin: 0 !important;
}
.ui-datepicker-next, .ui-datepicker-prev {
  border: 0 !important;
}

/*Right Arrow*/
.ui-datepicker .ui-datepicker-next span {
  width: 0!important; height: 0!important;
  border-left: 10px solid white!important;
  border-right: 8px solid transparent!important;
  border-bottom: 8px solid transparent!important;
  border-top: 8px solid transparent!important;
}

/*Left Arrow*/
.ui-datepicker .ui-datepicker-prev span {
  width: 0!important; height: 0!important;
  border-right: 10px solid white!important;
  border-left: 8px solid transparent!important;
  border-bottom: 8px solid transparent!important;
  border-top: 8px solid transparent!important;
}