@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/* 
   v1.0 | 20220516
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; font-family: 'Malgun Gothic', "맑은고딕", "Noto Sans KR", 'NanumSquare', Dotum, sans-serif; line-height: 110%;
  letter-spacing: -.0313rem; color: var(--color-white);
	vertical-align: baseline;
}
html, body {
  width: 100%; height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0; padding: 0;
}
div { display: block }
article, aside, footer, header, hgroup, main, nav, section { display: block }
table {
	border-collapse: collapse;
	border-spacing: 0;
  width: 100%;
}
address { display: block; }
figcaption { display: block }
hr {
  display: block; overflow: hidden;
  unicode-bidi: isolate;
  margin-block-start: 0.5em; margin-block-end: 0.5em; margin-inline-start: auto; margin-inline-end: auto;
  border-style: inset; border-width: 1px
}
map {
  display: inline
}
img, video {
  max-width: 100%;
  height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}
video {
  object-fit: contain;
}
video:-webkit-full-page-media {
  margin: auto; position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  max-height: 100%; max-width: 100%;
}
img {
  border-style: none;
}
button {
  background: none;
  border: 0;
}
strong {
  font-weight: 700; line-height: 140%;
}
p {
  font-size: var(--font-size-text-02); font-weight: 400;
}

/* form elements */
form {
  display: inline-block;
  margin-top: 0__qem;
}
:-webkit-any(table, thead, tbody, tfoot, tr) > form:-internal-is-html {
  display: none !important;
}
label {
  cursor: default;
}
legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border: none
}
select { 
  border-radius:0;          /* 아이폰 사파리 보더 없애기 */ 
  -webkit-appearance:none;  /* 화살표 없애기 for chrome*/ 
     -moz-appearance:none;  /* 화살표 없애기 for firefox*/ 
          appearance:none   /* 화살표 없애기 공통*/ 
}

.clearfix:after {
  content: " "; 
  display: block; 
  clear: both;
}
.inb {
  font-size: 0;
}
.inb > * {
  display: inline-block;
  vertical-align: top;
}
.fc-red {
  color: var(--color-red);
}


/******************************************************************
           input & textarea Style Css 
***********************/
input[type=text], input[type=tel], input[type=email], input[type=password], input[type=url], input[type=number], input[type=search], input[type=date],
textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
  outline: none; 
  font-family: sans-serif;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* PLACEHOLDER */
::-webkit-input-placeholder { color: #aaa; }
     :-ms-input-placeholder { color: #aaa; }
         ::-moz-placeholder { color: #aaa; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: transparent; }
          input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color: transparent; }
                  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color: transparent; }

input {
  vertical-align: middle;
  outline: none; border:none;
  border-radius: 0;
  font-size: var(--font-size-12);
}
input:focus {
  border-color: var(--color-red);
}

.input-search {
  background-color: transparent; border: 0px;
  padding-left: 10px; color: var(--color-white);
  width: 100%; height: 100%; line-height: 28px;
}
input.input-search:-moz-read-only {
  background-color: #273954; color: rgba(255, 255, 255, .58);  /* Firefox */
}
input.input-search:read-only {
  background-color: #273954; color: rgba(255, 255, 255, .58); 
}
input.picker {
  background-color: transparent;
  color: var(--color-white); 
  font-family: var(--font-family-noto); font-size: var(--font-size-12);
  width: 100%; height: 28px;
  padding-left: 10px;
}
.input-member {
  background-color: transparent; border-bottom: 1px solid var(--color-white);
  color: var(--color-white); 
  font-size: var(--font-size-15);
  width: 100%; height: 38px;
}
.input {
  background-color: transparent; border: 0px;
  padding: 0px; color: var(--color-white);
  width: 100%; height: 100%; text-align: center;
}
.input1 {
  background-color: transparent; border: 0px;
  padding-left: 10px; color: var(--color-white);
  width: 100%; height: 100%; text-align: left;
}


/******************************************************************
           selectBox Style Css 
***********************/
select {
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
     -moz-appearance: none;
          appearance: none;
  background: url('') no-repeat 95% 50%;  /* 화살표 모양의 이미지 */ 
  background-size: 14px;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
  display: none;
}
select {
  padding: 0; padding-left:10px;
  border: 0; border-radius: 0;
  width: 100%; height: 100%;
  color: var(--color-white); font-size: var(--font-size-12);
  cursor: pointer;
}
select:focus, select:active {
  outline: 0;
  border-color: var(--color-yellow);
}
.select-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%; height: 28px; line-height: 26px;
  background-color: transparent; border-radius: 0px; border: 0px;
  cursor: pointer;
}
.select-box:before {
  content: '';
  position: absolute; top: 11px; right: 20px; bottom: 0px;
  width: 1px; height: 7px; transform: rotate( -45deg );
  background-color: var(--color-white);
  pointer-events: none;
}
.select-box:after {
  content: '';
  position: absolute; top: 11px; right: 15px; bottom: 0;
  width: 1px; height: 7px; transform: rotate( 45deg );
  background-color: var(--color-white);
  pointer-events: none;
}
.select-box:hover {
  color: var(--color-cyan);
}
.select-box:hover:before, .select-box:hover:after {
  content: '';
  width: 1px; height: 7px;
  background-color: var(--color-cyan);
}
.select-box select option {
  background-color: #3C4C65;
  color: var(--color-white);
  line-height: 1.8;
}
.select-style-01 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%; height: 25px; line-height: 25px;
  background-color: transparent; border-radius: 0px; border: 1px solid #6181AE;
  cursor: pointer;
}
.select-style-01 select {
  width: 100%; height: 100%;
  vertical-align: top;
}
.select-style-01:before {
  content: '';
  position: absolute; top: 9px; right: 20px; bottom: 0px;
  width: 1px; height: 7px; transform: rotate( -45deg );
  background-color: var(--color-white);
  pointer-events: none;
}
.select-style-01:after {
  content: '';
  position: absolute; top: 9px; right: 15px; bottom: 0;
  width: 1px; height: 7px; transform: rotate( 45deg );
  background-color: var(--color-white);
  pointer-events: none;
}
.select-style-01:hover {
  color: var(--color-cyan);
}
.select-style-01:hover:before, .select-style-01:hover:after {
  content: '';
  width: 1px; height: 7px;
  background-color: var(--color-cyan);
}
.select-style-01 select option {
  background-color: #3C4C65;
  color: var(--color-white);
  line-height: 1.8;
}


/******************************************************************
           Radio Box Style Css 
***********************/
/******************** radio css style 01 */
.radio-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.radio-wrap input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.radio-wrap label{
  display: block;
  position: relative; z-index: 9;
  font-weight: 300; font-size: var(--font-size-12);
  padding: 0px 0 0 35px; margin: 0px auto;
  height: 28px; line-height: 26px; width: calc(70px - 35px);
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
.radio-wrap:hover label {
	color: var(--color-white);
}
.radio-wrap .check {
  display: block;
  position: absolute; top: 6px; left: 10px;z-index: 5;
  border: 2px solid var(--color-gray); border-radius: 100%;
  height: 11px; width: 11px;
	-webkit-transition: border .25s linear;
	        transition: border .25s linear;
}
.radio-wrap:hover .check {
  border: 2px solid #FFFFFF;
}
.radio-wrap .check::before {
	content: '';
  display: block;
  position: absolute; top: 3px; left: 3px;
  border-radius: 100%; margin: auto;
  height: 5px; width: 5px;
}
.radio-wrap input[type=radio]:checked ~ .check {
  border: 2px solid var(--color-cyan);
}
.radio-wrap input[type=radio]:checked ~ .check::before{
  background: var(--color-cyan);
}
.radio-wrap input[type=radio]:checked ~ label{
  color: var(--color-cyan);
}
/******************** radio css style 02 */
.radio-tab-control {
  display: block;
  position: relative;
  cursor: pointer;
}
.radio-tab-control input {
  position: absolute; z-index: -1;
  opacity: 0;
}
.radio-contr-indicator {
  position: absolute; top: 2px; left: 0;
  height: 20px; width: 20px;
  background: #e6e6e6;
}
.radio-tab-control .radio-contr-indicator {
  border-radius: 50%;
}
.control input:checked ~ .radio-contr-indicator {
  background: #2aa1c0;
}
.radio-contr-indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .radio-contr-indicator:after {
  display: block;
}
.radio-tab-control .radio-contr-indicator:after {
  left: 7px; top: 7px;
  height: 6px; width: 6px;
  border-radius: 50%; background: #fff;
}



/******************************************************************
           Checkbox Box Style Css 
***********************/
.checkbox, .checkbox-alt {
  background-color: #3C4C65;
  display: inline-block;
  height: 12px; width: 12px;
  margin: 0 0.25em;
  border: 1px solid rgba(255, 255, 255, .58); border-radius: 2px;
  cursor: pointer;
}
.checkbox label, .checkbox-alt label {
  display: block;
  position: relative;
  height: 12px; width: 12px;
  cursor: pointer;
}
.checkbox label:after, .checkbox-alt label:after {
  content: '';
  -webkit-transform: scaleX(-1) rotate(135deg);
     -moz-transform: scaleX(-1) rotate(135deg);
      -ms-transform: scaleX(-1) rotate(135deg);
          transform: scaleX(-1) rotate(135deg);
  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  border-top: 2px solid transparent; border-right: 2px solid transparent;
  display: block;
  position: absolute; top: .425rem; left: .1025rem;
  width: 2px; height: 6px;
}
.checkbox label:hover:after, .checkbox-alt label:hover:after {
  border-color: transparent;
}
.checkbox input, .checkbox-alt input {
  display: none;
}
.checkbox input:checked + label:after, .checkbox-alt input:checked + label:after {
  -webkit-animation: check 0.8s;
  -moz-animation: check 0.8s;
  -o-animation: check 0.8s;
  animation: check 0.8s;
  border-color: var(--color-palegreen);
}
.checkbox.checkbox-alt label:hover:after, .checkbox-alt.checkbox-alt label:hover:after {
  -webkit-animation: check 0.8s ease infinite;
  -moz-animation: check 0.8s ease infinite;
  -o-animation: check 0.8s ease infinite;
  animation: check 0.8s ease infinite;
}
.checkbox.checkbox-alt input:checked + label:after, .checkbox-alt.checkbox-alt input:checked + label:after {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}


/******************************************************************
           root Style Css 
***********************/
:root {
  /* color style */
  --color-back: #273954;
  --color-white: #fff;
  --color-black: #000;
  --color-darkGray: #252525;
  --color-navy: #2E408E;
  --color-gray: #8F8F8F;
  --color-ligthGray: #D5D5D5;
  --color-lightSilver: #efefef;
  --color-snow: #F5F5F5;
  --color-cyan: #4DFFF4;
  --color-palegreen: #0DC7A5;
  --color-aqua: #1DFFF1;
  --color-sky: #00A0DF;
  --color-blue: #2962FF;
  --color-yellow: #FCE200;
  --color-coral: #FF4F28;
  --color-red: #FE3B1F;

  /* font size style */
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-15: 15px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-28: 28px;
    --font-size-38: 38px;

    /* font family style */
    --font-family-noto: 'Noto Sans KR', sans-serif;
    --font-family-nanusquare: 'NanumSquare', sans-serif;
}

@-webkit-keyframes check {
  0% {
    height: 0; width: 0;
  }
  25% {
    height: 0; width: 2px;
  }
  50% {
    height: 6px; width: 2px;
  }
}
@-moz-keyframes check {
  0% {
    height: 0; width: 0;
  }
  25% {
    height: 0; width: 2px;
  }
  50% {
    height: 6px; width: 2px;
  }
}
@-ms-keyframes check {
  0% {
    height: 0; width: 0;
  }
  25% {
    height: 0; width: 2px;
  }
  50% {
    height: 6px; width: 2px;
  }
}
@keyframes check {
  0% {
    height: 0; width: 0;
  }
  25% {
    height: 0; width: 2px;
  }
  50% {
    height: 6px; width: 2px;
  }
}


/* 스크롤바 설정*/
body::-webkit-scrollbar {
  width: 10px;
}
/* 스크롤바 막대 설정*/
body::-webkit-scrollbar-thumb {
    background: #1B273A; border: 1px solid #6B778A;
    border-radius: 8px;
}
/* 스크롤바 뒷 배경 설정*/
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .25);
}