body {
  background-color: transparent;
}
header #menu li a,
.layout-foot-wrap ul li a {
  text-decoration: none;
}

/*********************************************************
        PC header area  
*/
header {
  position: fixed; top: 0px; left: 0px; z-index: 10;
  width: 100%; height: 78px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition-duration:0.4s;
		  transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
		  transition-timing-function:ease;
}
header {
  background-color: rgba(0, 0, 0, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .35);
}
header.activated {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px rgba(0,0,0, 0.15);
}
header #menu {
  position: relative; top: 0; left: 50%; z-index: 1;
  transform: translateX(-50%);
  width: 1200px; height: 78px;
  padding: 0; margin: 0;
}
header #menu > h1 a.logo {
  position: fixed; top: 12px; left: 0%; z-index: 2;
  width: 112px; height: 40px;
  background: url('../img/common/logo-direct-white.png?t') no-repeat;
  background-size: 100%;
}
header.activated #menu > h1 a.logo {
  position: fixed; top: 17px; left: 0%; z-index: 2;
  width: 112px; height: 40px;
  background: url('../img/common/logo-direct.png?tv') no-repeat;
  background-size: 100%;
}
header #menu ul {
  display: flex;
  flex-direction: row; align-content: center; justify-content: flex-end; align-items: center;
}
header #menu li {
  display: inline-block;
  margin: 0px 1rem;
  background: transparent; color: var(--color-white);
  -webkit-border-radius: 10px;
		  border-radius: 10px;
}
header #menu li:hover {
  background: transparent;
}
header #menu li a, 
header #menu li.active a {
  padding: 0px 18px; height: 78px; line-height: 78px;
  display: block;
  font-size: var(--fS-ttl-1-125);
}
header #menu li a {
  color: var(--color-white);
}
header #menu li a:hover {
  color: var(--color-yellow);
}
header #menu li.active {
  background: transparent;
}
header.activated #menu li a,
header.activated #menu li.active a {
  color: var(--color-black);
}
header #menu l a:hover,
header #menu li.active a:hover {
  color: var(--point-color);
}


/*********************************************************
        PC Footer area  
*/
#section5 {
  width: 100%; height: 187px; min-height: 187px;
  /* margin-top: 6.25rem; */
  background-color: var(--color-dark-gray);
}
#section5 .intro.footer {
  position: relative;
}
#section5 .intro.footer ul {
  overflow: hidden;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .25)
}
#section5 .intro.footer > ul li {
  position: relative;
  float: left;
  padding: .55rem 1.5625rem;
}
#section5 .intro.footer > ul li:first-child {
  padding-left: 0rem;
}
.footer > ul li a.link {
  display: block;
  font-size: var(--fS-txt-1); font-weight: 400; color: var(--color-white);
  line-height: 1.4;
}
.footer > ul li:after {
  content: "";
  position: absolute; top: 12px; right: 0;
  width: 1px; height: 16px;
  background-color: rgba(255, 255, 255, .35);
}
.footer > ul li:last-child:after {
  position: absolute; top: 0px; right: 0;
  width: 0px; height: 0px;
  background-color: rgba(255, 255, 255, .0);
}
.footer > ul li a.link:hover {
  color: var(--color-yellow);
}
.footer .foot-add-wrap {
  margin-top: .75rem;
}
.footer .foot-add-wrap p {
  text-align: left;
  width: 100%; line-height: 1.6;
  font-size: 0; padding-top: .35rem;
}
.footer .foot-add-wrap p span {
  position: relative;
  font-size: var(--fS-txt-875); font-weight: 300; line-height: 1.4; color: rgba(255, 255, 255, .55);
  padding: 0 1rem; letter-spacing: 0;
}
.footer .foot-add-wrap p span:after {
  content: "";
  position: absolute; top: 6px; right: 0;
  width: 1px; height: 13px;
  background-color: rgba(255, 255, 255, .35);
}
.footer .foot-add-wrap p span:nth-child(3n+1) {
  padding-left: 0rem;
}
.footer .foot-add-wrap p span:last-child:after {
  position: absolute; top: 0px; right: 0;
  width: 0px; height: 0px;
  background-color: rgba(255, 255, 255, .0);
}


/************************************************************************** Footer */
footer {
  width: 100%; height: 187px; min-height: 187px;
  background-color: var(--color-dark-gray);
  font-size: 0;
}
footer .intro {
  position: relative;
  width: 1200px;
  margin: 0 auto; margin-top: 1rem;
}
.footer ul {
  margin-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .25)
}
.footer ul li {
  position: relative;
  display: inline-block;
  padding: .55rem 1.5625rem;
}
.footer ul li:after {
  content: "";
  position: absolute; top: 13px; right: 0;
  width: 1px; height: 14px;
  background-color: rgba(255, 255, 255, .35);
}
.footer ul li:last-child:after {
  position: absolute; top: 0px; right: 0;
  width: 0px; height: 0px;
  background-color: rgba(255, 255, 255, .0);
}
.footer ul li:first-child {
  padding-left: 0rem;
}
.footer ul li a.link {
  display: block;
  font-size: var(--fS-txt-1); font-weight: 400; color: var(--color-white);
  line-height: 1.4;
}
.font-cont-wrap {
  display: block;
  margin-top: .3125rem;
}
.font-cont-wrap.first {
  margin-top: 1.55rem;
}
.font-cont-wrap,
.font-cont-wrap span {
  position: relative;
  font-size: var(--fS-txt-875); font-weight: 300; color: var(--color-white);
  line-height: 1.4; letter-spacing: 0;
}
.font-cont-wrap span {
  display: inline-block;
  padding: 0 1rem;
}
.font-cont-wrap span:after {
  content: "";
  position: absolute; top: 6px; right: 0;
  width: 1px; height: 13px;
  background-color: rgba(255, 255, 255, .35);
}
.font-cont-wrap span:nth-child(3n+1) {
  padding-left: 0rem;
}
.font-cont-wrap span:last-child:after {
  position: absolute; top: 0px; right: 0;
  width: 0px; height: 0px;
}


/*********************************************************
        PC Basic area  
*/
.conter-wrap {
  width: 100%;
  font-size: 0;
}
.type-dash {
  text-indent: -10px;
  padding-left: 10px;
}
.type-number {
  text-indent: -14px;
  padding-left: 14px;
}

a.kbstar {
  position: absolute; top: 78px; right: 0;
  width: 72px;
}
a.kbstar img {
  height: 100%;
}



/*********************************************************
        PC Layer PopUp area  
*****************************/
/******************************************************************* modal */
#modal {
  position: fixed; left:0; top:0; z-index: 11;
  width: 100%; height: 100%; 
  transform: scale(0);
}
#modal .modal-bg {
  background: rgba(0,0,0,0.7); 
  display:flex; 
  align-items: center; justify-content: center; 
  height: 100%;
}
#modal .modal-bg .modal-cont {
  position:relative; 
  display: inline-block;
  background: #fff; 
  padding: 40px; min-width: 520px;
}
#modal .modal-bg .modal-cont h2 {
  position: relative; 
  padding: 0; margin: 0; margin-bottom: 1rem;
  font-size: 1.55rem; font-weight: 700;  
}
#modal .modal-bg .modal-cont p {
  position: relative; 
  font-size: 1rem; 
}
#modal .modal-bg .modal-cont .close {  
  display: block;
  margin: 0px auto; padding: 0;
  width: 180px; height: 48px;
  border-radius: 3px;
  margin-top: 1rem;
}
#modal .modal-bg .modal-cont .claose-box {
  position: absolute; top: 40px; right: 40px;
  width: 24px; height: 24px;
  cursor: pointer;
}
#modal .modal-bg .modal-cont .claose-box a {
  display: block;
  position: relative;
  margin: 0px;
  width: 100%; height: 100%;
  border-radius: 0px;
}
#modal .modal-bg .modal-cont .claose-box i.icon-btn-close {
  display: block;
  width: 24px; height: 24px;  
  background-color: #000; background-size: 100%;
  -webkit-mask: url('../img/sub/icon-btn-close.svg') no-repeat;
          mask: url('../img/sub/icon-btn-close.svg') no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}


#modal .modal-bg .modal-cont .close svg {
  width: 24px; fill: #fff; vertical-align: top;
}
#modal .modal-bg .modal-cont .modal-cont-item {
  overflow-y: scroll;
  border: 1px solid var(--color-ligth-gray);
  padding: 1rem; text-align: left;
}
#modal .modal-bg .modal-cont > .modal-cont-item p {
  position: relative; 
  font-size: var(--fS-txt-1); line-height: 1.4; font-weight: 400;
}
#modal .modal-bg .modal-cont > .modal-cont-item p.first {
  padding-top: .75rem;
}
#modal .modal-bg .modal-cont > .modal-cont-item strong {
  display: block;
  font-size: var(--fS-txt-1); font-weight: 700; line-height: 1.6;
  margin-bottom: .55rem;
}
#modal .modal-bg .modal-reser-item {
  position:relative; 
  width: 520px;
  border-top: 2px solid #000;
  padding-top: 1.25rem; text-align: left;
}
#modal .modal-bg .modal-reser-item > ul li {
  margin-top: .55rem;
}
#modal .modal-bg .modal-reser-item > ul li:first-child {
  margin-top: 0rem;
}
.modal-reser-item > ul li > h3 {
  font-size: var(--fS-ttl-1-125); font-weight: 700;
  margin-top: 1rem;
}
.modal-reser-item > ul li .input01{
  font-weight: 400;
  width: calc(100% - .75rem);
  padding-left: .75rem;
}
.modal-reser-item > ul li .textarea {
  border: 1px solid var(--color-ligth-gray);
  width: calc(100% - 1.1rem);
  padding: 1rem 0.55rem;
}
.modal-reser-item > ul li .box-privacy-item {
  overflow-y: auto;
  max-height: 120px;
  border: 1px solid var(--color-ligth-gray);
  width: calc(100% - 1.1rem);
  margin-top: 1rem; padding: .55rem;
}
.modal-reser-item > ul li .box-privacy-item strong {
  font-size: var(--fS-txt-1); font-weight: 700;
}
.modal-reser-item > ul li .box-privacy-item strong {
  font-size: var(--fS-txt-95); font-weight: 700;
}
#modal.two .modal-bg .modal-cont .modal-reser-item > ul li .box-privacy-item p {
  font-size: var(--fS-txt-8); font-weight: 400;
  padding-top: .55rem;
}
#modal.two .modal-bg .modal-cont .modal-reser-item > ul li .box-privacy-item p strong {
  font-size: var(--fS-txt-85); font-weight: 700;
}
#modal.two .modal-bg .modal-cont .modal-reser-item .agree {
  margin-top: .55rem;
}
#modal.two .modal-bg .modal-cont .modal-reser-item .agree label.checkbox:before {
  border-color: var(--color-black);
}
#modal.two .modal-bg .modal-cont .modal-reser-item .agree label.checkbox span:after,
#modal.two .modal-bg .modal-cont .modal-reser-item .agree label.checkbox  span::before {
  background-color: var(--color-black);
}
#modal.two .modal-bg .modal-cont .modal-reser-item > ul li .close {
  width: 100%;
}


/* one */
#modal.one {
	transform: scale(1);
}
#modal.one.out {
	transform: scale(0);
}
/* two */
#modal.two {
	transform: scaleY(0.01) scaleX(0);
	animation: unfoldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.two .modal-bg .modal-cont {
	transform: scale(0);
	animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.two.out {
	transform: scale(1);
	animation: unfoldOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.two.out .modal-bg .modal-cont {
	transform: scale(0);
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

/* three */
#modal.three {
	transform: scale(1);
}
#modal.three .modal-bg {
	background: rgba(0,0,0,0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.three .modal-bg .modal-cont {
	opacity: 0;
	animation: scaleUp 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.three.out {
	animation: quickScaleDown 0s .5s linear forwards;
}
#modal.three.out .modal-bg {
	background: rgba(0,0,0,0);
	animation: fadeOut 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.three.out .modal-bg .modal-cont {
	opacity: 0;
	animation: scaleDown 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.four {
	transform: scale(1);
}
#modal.four .modal-bg {
	background: rgba(0,0,0,0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.four .modal-bg .modal-cont {
	transform: translatex(-1500px);
	animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.out.four {
	animation: quickScaleDown 0s .5s linear forwards;
}
#modal.out.four .modal-bg {
	background: rgba(0,0,0,0);
	animation: fadeOut 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.out.four .modal-bg .modal-cont {
	animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.five {
	transform: scale(1);
}
#modal.five .modal-bg {
	background: rgba(0,0,0,0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.five .modal-bg .modal-cont {
	border-radius: 75px;
	height: 75px;
	width: 75px;
	overflow: hidden;
	animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.five .modal-bg .modal-cont h2, #modal.five .modal-bg .modal-cont p {
	opacity:0;
	animation: modalContentFadeIn 0.5s 1.4s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.five .modal-bg .modal-cont .close {
	opacity:0;
	animation: closeFadeIn 0.5s 1.4s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.out.five {
	animation: slowFade 0.5s 1.5s linear forwards;
}
#modal.out.five .modal-bg {
	background: rgba(0,0,0,0.7);
	animation: fadeToRed 2s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.out.five .modal-bg .modal-cont {
	border-radius: 3px;
	height: 200px;
	width: 450px;
	animation: killShot 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.out.five .modal-bg .modal-cont h2, #modal.out.five .modal-bg .modal-cont p {
	animation: modalContentFadeOut 0.5s 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.out.five .modal-bg .modal-cont .close {
	animation: closeFadeOut 0.5s 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}



/*********************************************************
        PC @keyframes area  
*/
@keyframes visual-zoom {
  0% {
    transform: scale(1.3);
    -webkit-transform:scale(1.3);  /*  크롬 */
    -moz-transform:scale(1.3);     /* FireFox */
    -o-transform:scale(1.3);        /* Opera */ 
  }
  100% {
    transform: scale(1);
    -webkit-transform:scale(1);  /*  크롬 */
    -moz-transform:scale(1);     /* FireFox */
    -o-transform:scale(1);        /* Opera */ 
  }
}

@keyframes unfoldIn{
	0% {transform: scaleY(0.005) scaleX(0);}
	50% {transform: scaleY(0.005) scaleX(1);}
	100% {transform: scaleY(1) scaleX(1);}
}
@keyframes unfoldOut{
	0% {transform: scaleY(1) scaleX(1);}
	50% {transform: scaleY(0.005) scaleX(1);}
	100% {transform: scaleY(0.005) scaleX(0);}
}
@keyframes zoomIn {
	0% {transform: scale(0);}
	100% {transform: scale(1); }
}
@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0); }
}

@keyframes roadRunnerIn {
	0% {transform: translatex(-1500px) skew(30deg) scalex(1.3); }
	70% {transform: translatex(30px) skew(0deg) scalex(0.9);}
	100% {transform: translatex(0px) skew(0deg) scalex(1);}
}
@keyframes roadRunnerOut {
	0% {transform: translatex(0px) skew(0deg) scalex(1); }
	70% {transform: translatex(-30px) skew(-5deg) scalex(0.9);}
	100% {transform: translatex(1500px) skew(30deg) scalex(1.3);}
}

@keyframes fadeIn {
	0% {background: rgba(0,0,0,0)}
	100% {background: rgba(0,0,0,0.7)}
}
@keyframes fadeOut {
	0% {background: rgba(0,0,0,0.7)}
	100% {background: rgba(0,0,0,0)}
}

@keyframes scaleUp {
	0% {transform: scale(0.5) translatey(1000px); opacity:0}
	100% {transform: scale(1) translatey(0px); opacity:1}
}
@keyframes scaleDown {
	0% {transform: scale(1) translatey(0px); opacity:1}
	100% {transform: scale(0.5) translatey(1000px); opacity:0}
}
@keyframes quickScaleDown {
	0% {transform: scale(1);}
	99.9% {transform: scale(1); }
	100% {transform: scale(0); }
}

@keyframes slowFade {
	0% {opacity: 1;}
	99.9% {opacity:0; transform: scale(1);}
	100% {transform: scale(0);}
}
@keyframes fadeToRed {
	0% {box-shadow: inset 0 0 0 rgba(201,24,24,0.8);}
	100% {box-shadow: inset 0 2000px 0 rgba(201,24,24,0.8);}
}
@keyframes bondJamesBond {
	0% {transform: translatex(1000px);}
	80% {transform: translatex(0px); border-radius: 75px;height:75px;width:75px}
	90% {border-radius: 3px; height: 220px; width: 450px;}
	100% {border-radius: 3px; height: 200px; width: 450px;}
}
@keyframes killShot {
	0% {transform: translatey(0) rotate(0deg); opacity:1;}
	100% {transform: translatey(300px) rotate(45deg); opacity:0;}
}

@keyframes modalContentFadeIn {
	0% {opacity: 0; top: -20px;}
	100% {opacity: 1; top: 0px;}
}
@keyframes modalContentFadeOut {
	0% {opacity: 1; top: 0px;}
	100% {opacity: 0; top: -20px;}
}
@keyframes closeFadeIn {
	0% {opacity: 0; top: -20px;}
	100% {opacity: 1; top: 0px;}
}
@keyframes closeFadeOut {
	0% {opacity: 1; top: 0px;}
	100% {opacity: 0; top: -20px;}
}



@media(max-width: 1024px){ 
 header #menu {
    width: 880px; height: 58px;
 }
 
}
@media(max-width:800px){
 header #menu {
    width: 680px; height: 58px;
 }
 header #menu li {
    margin: 0px .55rem;
 }
 header #menu li a, header #menu li.active a {
    padding: 0px .125rem;
    height: 58px; line-height: 58px;
    font-size: var(--fS-txt-8);
 }
}
@media(max-width:800px){
 /********************** 해상도 Tablet - 780px css */
 .footer .foot-add-wrap p span {
    font-size: var(--fS-txt-75);
 }
}

@media only screen and (max-width:699px) and (min-width:280px){
  /********************** Mobile 해상도 공통 css */
  header {
    height: 58px;
  }  
  header #menu {
    width: 90%; height: 58px;
  }
  header #menu > h1 a.logo {
    position: fixed; top: 12px; left: 50%; z-index: 2;
	transform: translateX(-50%);
    width: 92px; height: 32px;
  }
  header.activated #menu > h1 a.logo {
	position: fixed; top: 12px; left: 50%;
	transform: translateX(-50%);
	width: 92px; height: 32px;
  }
  header #menu ul {
	display: none;
  }
  header #menu li a, header #menu li.active a {
    padding: 0px .125rem;
    height: 58px; line-height: 58px;
    font-size: .75rem;
  }
  #section5 .intro.footer > ul li {
    position: relative;
    float: left;
    padding: 0.55rem .55rem;
  }
  footer {
    width: 100%;
    height: 230px
  }
  footer .intro {
    width: 90%;
  }
  .layout-foot-wrap ul li:after {
    top: 12px; right: -1px;
    width: 1px; height: 13px;
  }
  .footer > ul li a.link {
    font-size: var(--fS-txt-75);
  }
  .footer .foot-add-wrap p span {
	display: block;
    font-size: var(--fS-txt-75);
    padding: 0 0rem;
  }
  .footer .foot-add-wrap p span:after {
    position: absolute; top: 0px; right: 0;
    width: 0px; height: 0px;
  }
  .footer .foot-add-wrap p:last-child {
    font-size: .55rem;
	padding: .75rem 0 1.55rem;
  }
  .layout-foot-wrap {
    width: 90%;
  }
  .layout-foot-wrap ul li  {
	padding: 0.55rem .75rem;
  }
  .layout-foot-wrap ul li a.link {
	font-size: var(--fS-txt-875);
  }
  .font-cont-wrap span {
    display: block;
	font-size: var(--fS-txt-75);
    padding: 0 0rem;
  }
  .font-cont-wrap span:after {
    width: 0px; height: 0;
  }
  .font-cont-wrap {
    margin-top: 0rem;
  }
  .font-cont-wrap.first {
    margin-top: .75rem;
  }
  .font-cont-wrap:last-child {
    margin-top: .55rem;
  }
  a.kbstar {
    top: 90px; right: 0; width: 45px;
  }
}