.button {
  position: relative; display: block;
  width: 100%;
  text-align:center; text-decoration: none; padding: 0px;
  cursor:pointer; box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}
.button:active {
  top:2px;    
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
}
.btn {
  position: relative; display: block;
  width: 100%;
  text-align:center; text-decoration: none; padding: 0px;
}
.moreMain {
  border: 2px solid var(--color-navy);
  color: var(--color-navy); background-color: var(--color-white);
}
.moreMain:hover {
  background-color: var(--color-navy); color: var(--color-white);
}
.moreMain:active {
  background-color: var(--color-blue); border-color: var(--color-blue);
}
.view-white {
  border-radius: 3px; border:2px solid var(--color-white); height: 52px; line-height: 52px;
  color: var(--color-white);
}

.kakao {
  position: relative;
  background-color: var(--color-yellow); color: #3D2A2D; 
  font-size: var(--fS-txt-1-05); font-weight: 700;
  width: calc(260px - 53px); height: 75px; line-height: 75px;
  padding-left: 53px; margin-top: 20px;
  border-radius: 3px;
}
.kakao:hover {
  background-color: var(--color-orange);
}
.kakao i.icon-kakao {
  position: absolute; top: 50%; left: 2.55rem;
  transform: translateY(-50%);
  display: inline-block;
  background: url('../img/common/icon-kakao.svg') no-repeat;
  width: 43px; height: 40px;
}

.basic-line {
  border: 2px solid var(--color-navy);
}
.basic-line:hover {
  border: 2px solid var(--point-color); color: var(--color-white);
  background-color: var(--point-color);
}
.line-more {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0,0,0, 0);
}
.line-more:hover {
  border-color: var(--color-turquoise);
  color: var(--color-turquoise);
}
.line-more:active {
  background-color: var(--color-turquoise);
  color: var(--color-black);
}
.view-more {
  border: 1px solid var(--point-color);
  color: var(--point-color);
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0,0,0, 0);
}
.view-more:hover {
  background-color: var(--point-color);
  color: var(--color-white);
}
.view-more:active {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
}


.navy {
  background-color: var(--color-navy); color: var(--color-white);
}
.navy:hover {
  background-color: var(--color-blue); color: var(--color-white);
}
.navy:focus {
  color: var(--color-white);
}
.deep-gray {
  background-color: var(--color-deep-gray); color: var(--color-white);
}
.deep-gray:hover {
  background-color: var(--color-red); color: var(--color-white);
}
.deep-gray:focus {
  color: var(--color-white);
}
.white {
  background-color: var(--color-white); color: var(--color-black);
  border-radius: 3px;
}
.white:hover {
  background-color: var(--color-yellow); color: var(--color-black);
}
.white:focus {
  color: var(--color-black);
}


.round {
  border-radius: 35px;
}
.middle-52 {
  height: 52px; line-height: 52px; width: 250px;
}
.large-48 {
  height: 48px; line-height: 48px;
  font-size: var(--fS-text-1); font-weight: 500;
}
.large-58 {
  height: 58px; line-height: 58px;
  font-size: var(--fS-text-1); font-weight: 500;
}