.button {
  position: relative;
  display: block;
  width: 100%; height: auto; padding: 0px;
  text-align: center; text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 58, 143, .35);
}
.button:hover {
  text-decoration: none;
}

.point {
  background-color: var(--color-point);
  color: var(--color-white);
  font-size: var(--font-size-16); font-weight: 500;
}
.navy {
  background-color: var(--color-navyBlue);
  color: var(--color-white);
  font-size: var(--font-size-16); font-weight: 500;
}
.point:focus, .point:active,
.navy:focus, .navy:active {
  color: var(--color-white);
}


.radius-3 {
  border-radius: 3px;
}
.radius-36 {
  border-radius: 36px;
}