.button {
  position: relative; display: block;
  width: 100%;
  text-align:center; text-decoration: none; padding: 0px;
  cursor:pointer; box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}
.button:active {
  top:2px;    
  box-shadow: 0px 2px 0px rgba(0,0,0,0.1);
}
.moreMain {
  border: 2px solid var(--color-navy);
  color: var(--color-navy); background-color: var(--color-white);
}
.moreMain:hover {
  background-color: var(--color-navy); color: var(--color-white);
}
.moreMain:active {
  background-color: var(--color-blue); border-color: var(--color-blue);
}
.view-white {
  border-radius: 3px; border:2px solid var(--color-white); height: 52px; line-height: 52px;
  color: var(--color-white);
}
.view-white:hover {
  background-color: var(--color-white); color: var(--color-navy); font-weight: 500;
}

.basic-line {
  border: 2px solid var(--color-navy);
}
.basic-line:hover {
  border: 2px solid var(--color-sky); color: var(--color-white);
  background-color: var(--color-sky);
}

.navy {
  background-color: var(--color-navy); color: var(--color-white);
}
.navy:hover {
  background-color: var(--color-blue); color: var(--color-white);
}
.navy:focus {
  color: var(--color-white);
}

.white-line {
  border: 1px solid var(--color-white); color: var(--color-white);
  padding: 20px 0;
}
.white-line:hover,
.white-line:active {
  background-color: var(--color-white); color: var(--color-black);
}
.white-line:focus {
  border: 1px solid var(--color-white); color: var(--color-white);
}

.gradation {
  background-color: var(--color-white); border: 1px solid #15AFF4; border-radius: 3px;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
}
.gradation:hover {
  background: linear-gradient(180deg, rgba(103,235,211,1) 0%, rgba(21,175,244,1) 100%);
  border-color: rgba(103,235,211,1);
}


.round {
  border-radius: 35px;
}
.middle-52 {
  height: 3.25rem; line-height: 3.25rem; width: 250px;
}
.large-48 {
  height: 3rem; line-height: 3rem;
  font-size: var(--fS-text-1); font-weight: 500;
}
.large-58 {
  height: 3.625rem; line-height: 3.625rem;
  font-size: var(--fS-text-1); font-weight: 500;
}