
/********************************************************************
              header area
********************************************************************/
header {
  position: fixed; top: 0; left: 0; z-index: 1;
  width: 100%; height: 68px; min-width: 1600px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, .15);
  background-color: var(--color-white);
}
header .inner {
  display: flex;
  flex-direction: row; justify-content: space-between; align-items: center;
  padding: 0 30px; height: 100%;
}
header .inner .logo-box > a {
  width: auto; height: 35px;
}
header .inner .mem-btn {
  display: flex;
  flex-direction: row; justify-content: flex-end; align-items: center;
}
header .inner .mem-btn > a {
  display: flex; align-items: center;
  height: 34px;
  padding: 0 30px;
  border: 1px solid var(--color-ligthGray);
  font-family: var(--font-family-malgun);
  font-size: var(--font-12); font-weight: bold;
}
header .inner .mem-btn > a:last-child {
  border-left: 0px;
}
header .inner .mem-btn > a.logout {
  color: var(--color-red);
}
header .inner .mem-btn > a.mypage {
  color: var(--color-navyBlue);
}
header .inner .mem-btn > a.logout:hover {
  border-left: 1px solid var(--color-red);
  border-color: var(--color-red);
  color: var(--color-red);
  margin-left: -1px;
}
header .inner .mem-btn > a.mypage:hover {
  border-color: var(--color-navyBlue);
  color: var(--color-navyBlue);
}
header .inner .mem-btn > a.logout:active {
  background-color: var(--color-red); border-color: var(--color-red);
  color: var(--color-white);
}
header .inner .mem-btn > a.mypage:active {
  background-color: var(--color-navyBlue); border-color: var(--color-navyBlue);
  color: var(--color-white);
}



/********************************************************************
              common icon style css
********************************************************************/
i.icon-addn {
  -webkit-mask: url('../img/common/icon-addn.svg') no-repeat center;
          mask: url('../img/common/icon-addn.svg') no-repeat center;
  -webkit-mask-size: cover; mask-size: cover;
}
i.icon-search {
  -webkit-mask: url('../img/service/icon-search.svg') no-repeat center;
          mask: url('../img/service/icon-search.svg') no-repeat center;
  -webkit-mask-size: cover; mask-size: cover;
}
i.icon-plus {
  -webkit-mask: url('../img/service/icon-plus.svg') no-repeat center;
          mask: url('../img/service/icon-plus.svg') no-repeat center;
  -webkit-mask-size: cover; mask-size: cover;
}
i.icon-email {
  -webkit-mask: url('../img/service/icon-email.svg') no-repeat center;
          mask: url('../img/service/icon-email.svg') no-repeat center;
  -webkit-mask-size: cover; mask-size: cover;
}
i.icon-tel {
  -webkit-mask: url('../img/service/icon-tel.svg') no-repeat center;
          mask: url('../img/service/icon-tel.svg') no-repeat center;
  -webkit-mask-size: cover; mask-size: cover;
}
i.icon-file {
  -webkit-mask: url('../img/service/icon-file.svg') no-repeat center;
          mask: url('../img/service/icon-file.svg') no-repeat center;
  -webkit-mask-size: cover; mask-size: cover;
}


/********************************************************************
              common style css
********************************************************************/
.btn-box-conts {
  display: flex;
  justify-content: center; align-items: center;
  margin-top: 30px;
}
.btn-pot-right > a,
.btn-box-conts > a {
  display: flex;
  justify-content: center; align-items: center;
  width: auto; height: auto;
  margin-left: 10px;
}
.btn-box-conts > a:first-child {
  margin-left: 0px;
}
.btn-pot-right {
  position: relative;
  margin-top: 30px;
}
.btn-pot-right > a {
  position: absolute; top: 0; right: 0;
}

.radius-3 {
  border-radius: 3px;
}
.radius-5 {
  border-radius: 5px;
}
.radius-10 {
  border-radius: 10px;
}


/********************************************************************
              pagination style css
********************************************************************/
 .pagination-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
 } 
.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px; height: 1px; margin: -1px;
  overflow: hidden;
  font-size: 0;
}
.pagination-box .page-list {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center;
  padding: 0 10px;
  white-space: nowrap;
  font-size: 0;
}
.pagination-box .page-list .page-link  {
  -webkit-box-sizing: border-box; box-sizing: border-box;
  position: relative;
  display: block;
  min-width: 28px; height: 28px;
  border: 1px solid transparent; border-radius: 3px;
  padding: 0 7px; font-size: 14px; font-weight: normal;
  line-height: 26px;
  color: var(--color-fontColor);
  text-align: center;
}
.pagination-box .page.selected .page-link {
  border-color: var(--color-point);
  color: var(--color-point); font-weight: bold;
}



/*********************************************************************************************
						  UI Datepicker Style css
*****************************/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: solid rgba(255, 255, 255, .55)!important;
  border-width: 1px 0 0 1px!important;
}
.ui-datepicker td {
  border: 1px solid #CCC !important;
  padding: 0 !important
}
.ui-datepicker-calendar thead tr th span {
  font-size: 12px !important;
  text-transform: uppercase !important;
}
.ui-widget-header {
  background: #2d2d2d !important;
  border: 0 !important
}
.ui-datepicker .ui-datepicker-title select {
  background: #2d2d2d !important;
  color: var(--color-white) !important;
  font-size: 15px !important;
}
.ui-widget-header .ui-icon {
  background-image: none !important;
}
.ui-datepicker .ui-datepicker-title {
  margin-top: 4px !important;
}
#ui-datepicker-div {
  padding: 0;
  width: 275px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: linear-gradient(20deg, #e2e2e2, #eeeeee) !important;
}
.ui-state-default {
  font-size: var(--font-size-12);
  font-weight: bold !important;
}
.ui-datepicker td span, .ui-datepicker td a {
  padding: 12px 0 !important;
  text-align: center !important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 33% !important;
  padding-left: 22px !important;
}
.ui-datepicker th {
  padding: 0em .3em 0.2em !important;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus {
  background: #1EB7AD !important;
  box-shadow: inset 0px 0px 10px #32DACF, inset 0px 0px 20px #35e5f5 !important;
  color: var(--color-white) !important;
}
.ui-datepicker table {
  margin: 0 !important;
}
.ui-datepicker-next, .ui-datepicker-prev {
  border: 0 !important;
}

/*Right Arrow*/
.ui-datepicker .ui-datepicker-next span {
  width: 0!important;
  height: 0!important;
  border-left: 10px solid white!important;
  border-right: 8px solid transparent!important;
  border-bottom: 8px solid transparent!important;
  border-top: 8px solid transparent!important;
}

/*Left Arrow*/
.ui-datepicker .ui-datepicker-prev span {
  width: 0!important;height: 0!important;
  border-right: 10px solid white!important;
  border-left: 8px solid transparent!important;
  border-bottom: 8px solid transparent!important;
  border-top: 8px solid transparent!important;
}