.button {
  position: relative;
  display: block;
  width: 100%; height: auto; padding: 0px;
  text-align: center; text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(7,27,66, .25);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  top: 2px;
  box-shadow: 0 1px 1px 0 rgba(7,27,66, .15);
}
.point {
  background-color: var(--color-point);
  color: var(--color-white);
  font-size: var(--font-size-16); font-weight: 500;
}
.navy {
  background-color: var(--color-navyBlue);
  color: var(--color-white);
  font-size: var(--font-size-16); font-weight: 500;
}
.point:focus, .point:active,
.navy:focus, .navy:active {
  color: var(--color-white);
}
.gradient {
  background: linear-gradient( to left, var(--color-gradient-to), var(--color-gradient-left) );
  color: var(--color-white);
}
.gradient:hover {
  background: var(--color-gradient-to);
}
.gradient:active {
  background: var(--color-gradient-left);
}
.gradient:hover, .gradient:active, .gradient:focus {
  color: var(--color-white);
}
.new-regis {
  width: 120px; padding: 10px 0;
  font-size: var(--font-14); font-weight: 600; color: var(--color-point);
  border: 1px solid var(--color-point); border-radius: 5px;
  background-color: var(--color-white);
}
.new-regis i {
  display: flex;
  width: 16px; height: 16px;
  background-color: var(--color-point);
  margin-right: 7px;
}
.new-regis:hover {
  background-color: var(--color-point); border-color: var(--color-point);
  color: var(--color-white);
}
.new-regis:hover i {
  background-color: var(--color-white);
}