
/********************************************************************
              common area style css
********************************************************************/
.trip {
  position: relative;
  background-color: #CDD0D3;
  width: 100%; height: calc(var(--vh, 1vh) * 100);
}
.content {
  /* position: fixed; top: 126px; left: 1rem; bottom: 55px; */
  width: calc(100% - 1rem - 1rem); height: calc(100% - 126px - 65px);
  padding: 1rem 1rem 0;
  overflow: hidden;
}
.content .conts-wrap {
  width: calc(100% - 1rem - 1rem); height: calc(100% - 1rem); /* calc(100% - 1rem - 1rem) */
  padding: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0 30px 0 rgba(11, 105, 246, .1);
  overflow-y: auto;
}
.content .conts-wrap > form {
  width: 100%;
}
.trip .button-wrap.bottom {
  position: fixed; bottom: 0; left: 1rem; right: 1rem;
  height: 55px; width: calc(100% - 1rem - 1rem);
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start;
}
.trip .button-wrap.bottom a {
  height: 45px; width: 50%; line-height: 45px;
  font-style: var(--font-size-15); font-weight: 500;
  margin-top: 10px;
}
.sc .sort-box {
  margin-top: 1.875rem;
}
.sc .sort-box.first {
  margin-top: 1rem;
}
.sc .sort-box.third {
  margin-top: 1rem;
}
.sort-box > h3  {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
  font-size: var(--font-size-20); font-weight: 700;
  color: var(--color-fontColor);
}

.modal-box-wrap {
  display: flex;
  justify-content: space-between; align-items: center;
  margin: 1.25rem 0;
}
.modal-box-wrap .know-area > a,
.modal-box-wrap .prod-info-area > a {
  display: flex;
  align-items: center; justify-content: flex-start;
}
.modal-box-wrap .know-area > a {
  font-size: var(--font-size-15); font-weight: 500;
  text-decoration: underline;
}
.modal-box-wrap .prod-info-area > a {
  font-size: var(--font-size-15); font-weight: 500;
  color: var(--color-blue);
  text-decoration: underline;
}
.modal-box-wrap .know-area > a i {
  display: block;
  font-size: 0; margin-left: .55rem;
  width: 18px; height: 18px;
  background-color: var(--color-blue);
  -webkit-mask: url(/new2023/m/img/icon-question.svg?n) no-repeat center;
          mask: url(/new2023/m/img/icon-question.svg?n) no-repeat center;
  -webkit-mask-size: 100%; mask-size: 100%;
}
.modal-box-wrap .prod-info-area > a i {
  display: block;
  font-size: 0; margin-left: .55rem;
  width: 9px; height: 14px;
  background-color: var(--color-blue);
  -webkit-mask: url(/new2023/m/img/icon-arrow-link.svg?e) no-repeat center;
          mask: url(/new2023/m/img/icon-arrow-link.svg?e) no-repeat center;
  -webkit-mask-size: 100%; mask-size: 100%;
}



/************************************************* Header area style css */
.trip header {
  position: relative; z-index: 12;
  width: 100%; height: 110px;
  background-color: var(--color-white); border-bottom: 0px;
  box-shadow: 0 0 30px 0 rgba(11, 105, 246, .10);
}
.trip .head-wrap {
  width: 100%; height: 55px;
  background-color: var(--color-white);
}
.trip header .head-wrap .inner {
  display: flex;
  justify-content: space-between; align-items: center;
  height: 100%;
}
.trip header .head-wrap .inner h1 {
  margin-left: 5%;
}
.trip header .head-wrap .inner .button-wrap {
  width: 80px; height: 35px;
  margin-right: 5%;
}
.trip header .head-wrap .inner .button-wrap > a {
  display: flex;
  justify-content: space-between; align-items: center;
  width: 100%; height: 100%;
  background-color: var(--color-blue); border-radius: 18px;
} 
.trip header .head-wrap .inner .button-wrap > a span {
  font-size: var(--font-size-13); font-weight: 500; color: var(--color-white);
  padding-left: 15px;
}
.trip header .head-wrap .inner .button-wrap > a.end i.icon-end {
  display: inline-block;
  width: 14px; height: 14px;
  margin-right: 15px;
  background-color: var(--color-white);
  -webkit-mask: url(/new2023/img/trip/icon-close.svg?e) no-repeat center;
          mask: url(/new2023/img/trip/icon-close.svg?e) no-repeat center;
  -webkit-mask-size: 100%; mask-size: 100%;
}
.trip header .top-button {
  margin: 0 auto 10px;
  height: 42px; width: 90%;
}



/********************************************************************
              여행정보 area style css
********************************************************************/
.sc .title-wrap {
  margin-top: 0rem;
}
.sc .title-wrap h2 {
  font-size: var(--font-size-24); font-weight: 700;
  color: var(--color-fontColor); line-height: 1.4;
  letter-spacing: -.125rem;
}
.sort-box > h3 {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
  font-size: var(--font-size-20); font-weight: 700;
  color: var(--color-fontColor);
}
.sort-box.second h3 {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
  width: auto; height: 28px;
  font-size: var(--font-size-20); font-weight: 700;
  margin-top: 0;
}
.sort-box.second h3 a.delete {
  display: flex;
  align-items: center; justify-content: center;
  width: 50px; height: 24px;
  font-family: var(--font-family-malgun); font-size: var(--font-size-12); font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
}
.sc.step1 .sort-box .radio-box {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;
  height: 32px;
  margin-top: 10px;
}
.sc .sort-box .text-box {
  margin-top: .75rem;
}
.sc .sort-box .text-box p {
  text-indent: -.6875rem;
  padding-left: .6875rem;
}
.sc .sort-box .text-box p > a {
  color: var(--color-red);
}
.sort-box > ul li  {
  position: relative;
  margin-top: .625rem;
}
.sort-box > ul li > strong {
  display: block;
  font-size: var(--font-size-15); font-weight: 700;
}
.sort-box > ul li > strong > span.pick {
  font-size: var(--font-size-12); font-weight: 400;
  color: var(--color-sky);
}
.sort-box > ul li > input,
.sort-box > ul li > .select-box {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 100%; height: 32px; line-height: 32px;
  font-size: var(--font-size-13); font-weight: 500;
}
.sort-box > ul li > .select-box select {
  position: relative;
  height: 30px; line-height: 30px;
  margin: 0; padding: 0 0 0 .625rem;
}
.toppaste {
  top: -1px;
}
.sort-box > ul li .date_picker {
  position: relative;
  display: flex;
  flex-wrap: nowrap; flex-direction: row; justify-content: space-between;
  width: 100%; height: 32px;
  margin-top: 5px;
  border: 1px solid var(--color-light-gray); border-radius: 3px;
  cursor: pointer;
}
.sort-box > ul li .date_picker:before {
  content: "";
  position: absolute; top: 0; right: 0;
  background-color: var(--color-snow);
  width: 36px; height: 100%;
}
.sort-box > ul li .date_picker input {
  margin-top: 0px; padding-left: .625rem;
  width: 80%; height: 32px; line-height: 32px;
}
.sort-box > ul li .date_picker img {
  position: absolute; top: 50%; right: 7px; z-index: 1;
  transform: translateY(-50%);
  width: 21px; height: 21px;
}
.sc .title-wrap.second {
  margin-top: 1.875rem;
}
.sc.step1 .sort-box.second {
  margin-top: 1rem;
}
.button-wrap.center {
  display: flex;
  justify-content: center; align-items: center;
  margin-top: 1.875rem;
}
.sc .button-wrap.center a.add {
  display: flex;
  justify-content: center; align-items: center;
  width: 100%; height: 36px; line-height: 36px;
  font-size: var(--font-size-13); font-weight: 500;
  border-radius: 3px;
}



/********************************************************************
              보험료 계산 결과 area style css
********************************************************************/
.sc.step2 .panels {
  margin-top: .9375rem;
}
.sc.step2 .plan-wrap {
  margin: 1.25rem 0;
}
.plan-wrap input.radio {
  display: none;
}
.plan-tab-menu {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; align-items: center;
}
.plan-tab-menu .tab {
  display: flex; justify-content: center; align-items: center;
  width: 33.3%; height: 72px;
  font-size: var(--font-size-15); font-weight: 500;
  background-color: var(--color-snow);
  border-top: 1px solid var(--color-light-gray); border-bottom: 1px solid var(--color-light-gray);
  border-left: 1px solid var(--color-light-gray);
  cursor: pointer;
}
.plan-tab-menu .tab:last-child {
  width: 33.4%;
  border-right: 1px solid var(--color-light-gray);
}
.panel {
  display:none;
  animation: fadein .8s;
}
.panels > p.bill {
  padding-top: 10px;
  font-size: var(--font-size-15); font-weight: 300;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
#advnc:checked ~ .panels #advnc-panel, #stndr:checked ~ .panels #stndr-panel,
#stall:checked ~ .panels #stall-panel {
  display:block
}
#advnc:checked ~ .plan-tab-menu #advnc-tab, #stndr:checked ~ .plan-tab-menu #stndr-tab, 
#stall:checked ~ .plan-tab-menu #stall-tab {
  background-color: var(--color-point);
  color: var(--color-white);
  border-color: var(--color-point);
}
.plan-wrap .panel .tablemb01 {
  margin-top: 10px;
}
#advnc:checked ~ .plan-tab-menu #advnc-tab .radio-box .choose span, 
#stndr:checked ~ .plan-tab-menu #stndr-tab .radio-box .choose span, 
#stall:checked ~ .plan-tab-menu #stall-tab .radio-box .choose span {
  color: var(--color-white);
}

#advnc:checked ~ .plan-tab-menu #advnc-tab .radio-box .choose .check:before, 
#stndr:checked ~ .plan-tab-menu #stndr-tab .radio-box .choose .check:before, 
#stall:checked ~ .plan-tab-menu #stall-tab .radio-box .choose .check:before {
  background-color: var(--color-white);
}
#advnc:checked ~ .plan-tab-menu #advnc-tab .radio-box .choose .check,
#stndr:checked ~ .plan-tab-menu #stndr-tab .radio-box .choose .check,
#stall:checked ~ .plan-tab-menu #stall-tab .radio-box .choose .check {
  border-color: var(--color-white);
}




/********************************************************************
              피보험자/계약자 정보 radio check style css
********************************************************************/
.sort-box.third > ul li .eng-name, .sort-box.third > ul li .twonum, 
.sort-box.third > ul li .thirdum {
  font-size: 0;
  display: flex;
  align-items: center; justify-content: center;
  margin-top: .625rem;
}
.sort-box.third > ul li .eng-name input {
  width: 48%;
}
.sort-box.third > ul li .eng-name input:last-child {
  margin-left: 4%;
}
.sort-box.third > ul li .twonum input {
  width: 45%;
}
.sort-box.third > ul li .twonum > span, 
.sort-box.third > ul li .thirdum > span {
  display: flex;
  align-items: center; justify-content: center;
  width: 10%;
  font-size: var(--font-size-12); font-weight: 500;
}
.sort-box.third > ul li.permanent {
  margin-bottom: 0.875rem;
}
.sort-box.third > ul li.permanent .radio-box {
  display: flex;
  justify-content: flex-start; align-items: flex-start;
  margin-top: 5px;
}
.sort-box.third > ul li.permanent .spanCaution {
  font-size: var(--font-size-12); font-weight: 400; color: var(--color-red);
  letter-spacing: -.0625rem;
}
.sort-box.third > ul li .nationality {
  position: absolute; top: 25px; left: auto; right: 0;
  width: calc(100% - 140px);
}
.sort-box.third > ul li .nationality .input02 {
  height: 32px;
}
.sort-box.third > ul li .nationality .caption {
  font-size: var(--font-size-11); font-weight: 400; color: var(--color-red);
  margin-top: 3px;
}




/********************************************************************
              가입 동의 style css
********************************************************************/
.sc.step4 .title-wrap {
  display: flex;
  flex-direction: row; justify-content: space-between; align-items: center;
}
.sc.step4:nth-child(2) .title-wrap {
  margin-top: 1.875rem;
}
.sc.step4 .title-wrap .radio-box .terms {
  display: flex; justify-content: center; align-items: center;
  width: 90px; height: 32px;
}
.sc.step4 .title-wrap .radio-box .terms label {
  width: 100%; text-align: center;
}
.sc.step4 .list-box {
  display: flex;
  flex-direction: column; align-items: flex-start; flex-wrap: nowrap;
  margin-top: 1rem;
}
.sc.step4 .list-box:nth-child(3) {
  align-items: flex-start;
}
.sc.step4 .list-box .text-cont {
  text-indent: -.65rem; padding-left: .65rem;
  line-height: 1.4; width: 100%;
  font-size: var(--font-size-12); font-weight: 400;
}
.sc.step4 .list-box .radio-box {
  margin-top: .55rem;
}
.list-box .radio-box .terms span {
  font-size: var(--font-size-12);
}
.list-box .radio-box .terms:nth-child(2), 
.list-box .radio-box .terms:last-child {
  margin-left: .75rem;
}
.sc.step4 .agree-box-wrap {
  border: 1px solid var(--color-light-gray); background-color: var(--color-snow);
  width: calc(100% - 2px);
  margin-top: .75rem; margin-bottom: 1rem;

}
.sc.step4 .agree-box-wrap .list-box {
  display: flex;
  flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;
  margin: 1rem; margin-bottom: 1.25rem; width: calc(100% - 2rem);
  font-size: 0;
}
.sc.step4 .agree-box-wrap .list-box:last-child {
  border-bottom: 0; padding-bottom: 0;
}
.sc.step4 .agree-box-wrap .list-box .text-cont {
  display: flex; justify-content: flex-start; align-items: center;
  width: 100%;
  text-indent: 0; padding-left: 0;
}
.sc.step4 .agree-box-wrap .list-box .view-cont {
  display: flex;
  justify-content: flex-end;
  width: calc(30% - .55rem); margin-left: .55rem;
}
.sc.step4 .agree-box-wrap .list-box .view-cont .linkMore {
  display: block;
  font-size: var(--font-size-11); font-weight: 500; text-align: center;
  width: 100%; height: 22px; line-height: 22px;
  border: 1px solid var(--color-light-gray); border-radius: 11px;
  background-color: var(--color-white);
}
.sc.step4 .agree-box-wrap .list-box .radio-box {
  display: flex;
  flex-direction: row; justify-content: flex-start; align-items: center;
  width: 70%; margin-top: .3125rem
}
.agree-box-wrap .list-box .text-cont .downlink {
  width: 150px; height: 22px; line-height: 20px;
  border: 1px solid var(--color-blue); border-radius: 11px;
  background-color: var(--color-white);
  margin-left: .4375rem;
}
.agree-box-wrap .list-box:last-child .text-cont {
  width: 100%;
}
.sc.step4 .agree-box-wrap .list-box:last-child .view-cont {
  width: 30%;
  margin-left: 0rem; margin-top: .3125rem;
}
.agree-box-wrap .list-box:last-child .radio-box {
  width: 70%;
  margin-top: .3125rem;
}

.sc.step4 .list-box.accordion {
  display: block;
}
.sc.step4 .list-box.accordion input {
  display: none;
}
.sc.step4 .list-box.accordion .top-box {
  display: flex;
  flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;
}
.sc.step4 .list-box.accordion .top-box label.text-cont {
  display: flex; align-items: center; justify-content: flex-start;
  width: 70%; height: 21px;
}
.sc.step4 .list-box.accordion .top-box label.text-cont i.icon-accod {
  display: inline-block;
  width: 14px; height: 9px; font-size: 0; margin-left: 10px;
  background: url('/new2023/img/trip/icon-accord-arrow.png?e') no-repeat;
  background-size: 100%;
  transition: all .3s;
}
.sc.step4 .list-box.accordion .cont-accord {
  width: 100%; max-height: 0; font-size: 0;
  overflow: hidden;
}
.sc.step4 .list-box.accordion .cont-accord .inner {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-light-gray); border-bottom: 1px solid var(--color-light-gray);
  margin-top: 1.25rem;
}
.sc.step4 .list-box.accordion .cont-accord .inner .box-list {
  display: flex;
  flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch;
  width: calc(100% - 40px); padding: .625rem 1.25rem 0;
}
.sc.step4 .list-box.accordion .cont-accord .inner .box-list:first-child {
  padding-top: 1.25rem;
}
.sc.step4 .list-box.accordion .cont-accord .inner .box-list:last-child {
  padding-bottom: 1.25rem;
}
.list-box.accordion .cont-accord .inner .box-list strong {
  font-size: var(--font-size-13); font-weight: 400;
  color: var(--color-fontColor);
}
.list-box.accordion .cont-accord .inner .box-list .radio-box .terms span {
  font-size: var(--font-size-13); font-weight: 400;
}
.sc.step4 .list-box.accordion input:checked ~ .cont-accord {
  max-height: 100vh;
}
.sc.step04 .list-box.accord input:checked ~ .accord-box > ul li {
  padding: 10px 0 0px;
}
.sc.step4 .list-box.accordion input:checked ~ .top-box label.text-cont i.icon-accod {
  transform: rotate(180deg);
  transition: all .3s;
}




/********************************************************************
              보험료 결제 radio check style css
********************************************************************/
.sc.step5 .box-total {
  display: flex;
  justify-content: space-between; align-items: flex-start; flex-direction: column; flex-wrap: nowrap;
  margin-top: 1.875rem;  padding: 1.875rem 1.875rem;
  background-color: var(--color-snow); border-radius: 10px;
}
.sc.step5 .box-total .price-box > span {
  font-size: var(--font-size-15); font-weight: 500;
  color: var(--color-fontColor);
}
.sc.step5 .box-total .price-box > .total-won {
  font-size: var(--font-size-32); font-weight: 700;
  color: var(--color-red);
  margin-top: .55rem;
}
.sc.step5 .box-total .cont-right {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between;
  width: 100%; margin-top: 1.25rem;
}
.sc.step5 .box-total .cont-right .circle-box {
  position: relative;
  display: flex;
  flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center;
  width: 46%; height: 80px;
  background-color: var(--color-white); border-radius: 20px; box-shadow: 0 0 20px 0 rgba(0, 0, 0, .08);
}
.sc.step5 .box-total .cont-right .circle-box > p {
  margin-top: .3125rem;
}
.sc.step5 .table-wralp {
  margin: 1.875rem 0 1rem;
}
.details {
  width:100%;
  border-collapse:collapse;
  border-spacing:0px;
  border-top: 3px solid var(--color-dark-gray);
}
.details tbody th, .details tbody td {
  font-size: var(--font-size-13); font-weight: 400;
  line-height: 1.4; letter-spacing: -.0313rem;
  padding: .55rem 1rem;
  border-bottom: 1px solid #cecece;
  vertical-align: middle; text-align: center;
	word-break: keep-all;
}
.details tbody th {
  background-color: var(--color-light-silver);
  font-weight: 500;
}
.details tbody th:first-child {
  border-left: 0px;
}
.details tbody tr:last-child th, .details tbody tr:last-child td {
  border-bottom: 1px solid var(--color-dark-gray);
}





/********************************************************************
              가입완료 area style css
********************************************************************/
.sc.step6 .box-cont {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column; align-items: center; justify-content: center;
}
.sc.step6 .box-cont .img {
  width: 70%;
}
.sc.step6 .box-cont .text-cont {
  display: flex;
  flex-direction: column; flex-wrap: nowrap; align-items: center;
}
.sc.step6 .box-cont .text-cont > h2 {
  font-size: var(--font-size-28); font-weight: 400;
  margin-top: 1.25rem;
  width: 80%;
  word-break: keep-all; text-align: center;
}
.sc.step6 .box-cont .text-cont > h2 > strong {
  font-weight: 700;
}
.sc.step6 .box-cont .text-cont .text {
  font-size: var(--font-size-18); font-weight: 400;
  width: 90%;
  margin-top: 1.25rem;
  word-break: keep-all; text-align: center;
}
.sc.step6 .box-cont .text-cont .text > span {
  font-weight: 700; color: var(--color-red);
}
.sc.step6 .banner-box {
  display: flex;
  flex-direction: column; flex-wrap: nowrap; align-items: flex-start;
  margin: 1.25rem 0rem 1rem;
}
.sc.step6 .banner-box .box-bnnr {
  display: flex;
  flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center;
  width: 100%; height: 180px;
  background-color: var(--color-snow);
  margin-top: 1rem;
}
.sc.step6 .banner-box .box-bnnr:first-child {
  margin-top: 0;
}





/********************************************************************
              동의 & 예아니오 radio check style css
********************************************************************/
.radio-box {
  display: flex;
  flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center;
}
.radio-box .terms input, .radio-box .travel input, .radio-box .choose input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-box .travel {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center; flex-direction: row; flex-wrap: nowrap;
  height: 32px; width: auto;
}
.radio-box .travel label {
  display: flex; align-items: center;
  font-size: var(--font-size-13); font-weight: 500; color: var(--color-point);
  border: 1px solid var(--color-point);
  padding: 0px 1rem;
  height: 32px; line-height: 32px;
  cursor: pointer;
}
.radio-box .travel.first label {
  border-radius: 5px 0 0 5px;
}
.radio-box .travel.last label {
  border-radius: 0 5px 5px 0;
}
.radio-box .travel input:checked + label {
  background-color: var(--color-point); border-color: var(--color-point);
  color: var(--color-white);
}

.radio-box .choose {
  position: relative; user-select: none;
  display: flex;
  flex-direction: column; flex-wrap: nowrap; align-items: center; justify-content: center;
}
.radio-box .choose span {
  margin-top: 5px;
}
.radio-box .choose .check {
  position: relative;
  height: 14px; width: 14px;
  border: 1px solid var(--color-gray); border-radius: 100%;
  background-color: transparent;
}
.radio-box .choose .check:before {
  content: '';
  position: absolute; top: 2px; left: 2px;
  width: 10px; height: 10px;
  border-radius: 100%;
}
.radio-box .choose span {
  text-align: center;
  font-size: var(--font-size-12); font-weight: 500;
}
.radio-box .terms {
  position: relative;
  user-select: none;
  display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center;
  padding-left: 1.25rem;
  height: 14px;
}
.radio-box .terms label {
  position: relative;
  display: block;
  color: var(--color-fontColor); font-size: var(--font-size-11); font-weight: 500; line-height: 30px;
  border: 1px solid var(--color-light-gray); border-radius: 20px;
  cursor: pointer;
}
.radio-box .terms span {
  line-height: 14px;
}
.radio-box .terms input:checked + label {
  border-color: var(--color-point);
  background-color: var(--color-point);
  color: var(--color-white);
}
.check {
  position: absolute; top: 0px; left: 0;
  height: 14px; width: 14px;
  border: 1px solid var(--color-silver); border-radius: 100%;
  background-color: var(--color-white);
}
.terms:hover input ~ .check,
.terms input:focus ~ .check {
  background: var(--color-white);
}
.terms input:checked ~ .check {
  border-color: var(--color-blue);
}
.terms input:checked:focus ~ .check {
  border-color: var(--color-blue);
}
.check:before {
  content: '';
  position: absolute; top: .4375rem; left: .25rem;
}
.check:after {
  content: '';
  position: absolute; top: .25rem; left: .445rem;
}
.terms input:checked ~ .check:before {
  display: block;
  width: 2px; height: 4px;
  background-color: var(--color-blue);
  transform: rotate(-45deg);
}
.terms input:checked ~ .check:after {
  display: block;
  width: 2px; height: 8px;
  background-color: var(--color-blue);
  transform: rotate(45deg);
}
.terms input:checked ~ span {
  color: var(--color-blue);
}




/********************************************************************
              Table style css
********************************************************************/
.tablemb01 {
  width: 100%;
  border-top: solid 1px var(--color-light-gray); background-color: var(--color-white);
  font-size: var(--font-size-13);
  border-left: solid 1px var(--color-light-gray);
}
.tablemb01 tr th, .tablemb01 tr td {
  font-size: var(--font-size-12); font-weight: 400; text-align: center; vertical-align: middle;
  padding: .5rem .125rem;
  border-bottom: solid 1px var(--color-light-gray); border-right: solid 1px var(--color-light-gray);
}
.tablemb01 thead th {
  font-size: var(--font-size-13);
  font-weight: 500;
  background: var(--color-light-silver);
}
.tablemb01 tbody tr th {
  font-weight: 500;
  background: var(--color-snow);
}
.tablemb01 tbody tr th i.question {
  display: block;
  font-size: 0; margin: 0 auto .3125rem;
  width: 18px; height: 18px;
  background-color: var(--color-blue);
  -webkit-mask: url(/new2023/m/img/icon-question.svg?n) no-repeat center;
          mask: url(/new2023/m/img/icon-question.svg?n) no-repeat center;
  -webkit-mask-size: 100%; mask-size: 100%;
}


/********************************************************************
              아이폰 Safari에서만 동작 style css
********************************************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 640px) {
  /* 아이폰 Safari에서만 동작하는 CSS 코드이라는데.. 갤럭시에도 적용이됨 */ 
}